body {
	font-family: 'OpenSans', sans-serif;
	color: #6b6b6b;
	padding: 0;
	margin: 0;
	background: #f5f5f5;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
}

h1 {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
	font-size: 50px;
	text-align: center;
}

p {
	line-height: 1.65em;
}



.header {
	background-size: 100%;
	background: url('../img/apple-desktop.jpg') center no-repeat;
	/*background: #DDDDDD;*/
}

.desktop {
	top: -200px;
	position: relative;
}

.smart {
	position: relative;
	top: 50px;
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 38px;
	border: 3px solid #7f7a82;
	width: 149px;
	text-align: center;
	border-radius: 3px;
	height: 30px;
	margin-top: 0px;
	padding-top: 1px;
	padding-bottom: 53px; 
	line-height: 1.40em;
}



.smart span {
	color: #fa9179;
}

.container {
	width: 1180px;
	margin: 0 auto;
}

.wrapper {
	margin-top: 143px;
	text-align: center;
}

.login {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
	padding-top: 30px;
	font-size: 25px;
}

.title {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 25px;
}

.title span {
	color: #fc6f4e;
}

.intro {
	width: 710px;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.send-message {
	margin-top: 105px;
	padding-top: 1px;
	width: 372px;
	height: 400px;
	text-align: center;
	background: #ffffff;
	font-size: 20px;
	font-weight: 400;
	box-shadow: 0px 5px 80px #c7c7c7; 
}

.send-message span {
	color: #fc6f4e;
}

.form {
	padding-left: 37px;
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
}

.input {
	outline: none;
	margin-top: 30px;
	height: 25px;
	display: block;
	padding-top: 30px;
	border-left: none;
	border-top: none;
	border-right: none;
	padding-top: 10px;
	padding-bottom: 15px;
}

.message {
	padding-bottom: 65px;
}

.btn-login {
	display: block;
	margin: 0 auto;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	color: #ffffff;
	background: #ff5c36;
	width: 237px;
	border-radius: 60px;
	font-size: 18px;
	transition: all 0.5s ease;
}

.btn-login:hover {
	text-decoration: none;
	color: #ffffff;
	background: #737373;
}

.working {
	display: inline;
	width: 1140px;
	margin-top: 0px;
	margin-bottom: 150px;
	padding-bottom: 150px;
}

.working-title {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
	margin-top: 150px;
}

.working-title span {
	color: #fd8569;
}

.working-text {
	display: block;
	text-align: center;
	color: #7a7a7a;
	font-size: 16px;
	margin-bottom: 150px;
}

.kockoi-block {
	width: 1180px;
	margin: 0 auto;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-between;
}

.kockoi {
	margin: 0 auto;
	/*margin-top: 105px;
	margin-left: 130px;
	margin-right: 0px;*/
	display: block;
	width: 260px;
	height: 260px;
	background: #4eb2f7;
	text-align: center;
	box-shadow: 0px 5px 20px #9d9b9b;
}

.magnet {
	margin-top: 50px;
}

.kockoit-title {
	font-weight: 600;
	color: #ffffff;
}

.kockoit-text {
	padding-left: 45px;
	padding-right: 45px;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
}

.kockoi-btn {
	display: block;
	margin: 0 auto;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	color: #333333;
	background: #ffffff;
	width: 237px;
	border-radius: 60px;
	font-size: 15px;
	transition: all 0.5s ease;
	box-shadow: 0px 5px 12px #737373;
}

.kockoi-btn:hover {
	color: #ffffff;
	text-decoration: none;
	background: #737373;
}

.set {
	background: #c049f8;
}

.settings {
	background: #817eff;
}

.image {
	background: #f74770;
}

.img {
	box-shadow: 0px 5px 12px #A5A5A5;
}

.featured {
	margin-top: 30px;
	padding-top: 60px;
	padding-bottom: 10px;
	background: #DDDDDD;
}

.featured-title span {
	color: #fc8569;
}

.featured-title {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
	color: #323232;
}

.featured-text {
	text-align: center;
}

.photos {
	width: 1180px;
	position: relative;
	left: -33px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.img {
	width: 360px;
	margin-left: 30px;
	margin-top: 30px;
}
.photo {
	margin-bottom: 100px;
}

.services {
	padding-top: 80px;
}

.services-block {
	width: 790px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}

.services-title {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
	color: #333333;
}

.services-title span {
	color: #fd8569;
}

.serices-text {
	text-align: center;
	margin-bottom: 140px;
}

.modern-title {
	width: 507px;
	margin: 0 auto;
}

.icons-block {
	margin: 0;
	width: 100px;
	display: block;
	justify-content: space-between;
}

.icons {
	width: 100px;
}

.icon {
	width: 100px;
	margin-top: 6px;
	width: 50px;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	background: #ffffff;
	box-shadow: 0px 5px 20px #c7c7c7;
}


.icon2 {
	width: 50px;
	margin-top: 6px;
	padding-left: 12px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 10px;
	background: #ffffff;
	box-shadow: 0px 5px 20px #c7c7c7;
}

.icon3 {
	width: 100px;
	margin-top: 6px;
	width: 50px;
	padding-left: 15px;
	padding-top: 16px;
	padding-right: 5px;
	padding-bottom: 5px;
	background: #ffffff;
	box-shadow: 0px 5px 20px #c7c7c7;
}

.modern-app {
	height: 50px;
	display: block;
	width: 515px;
	text-align: center;
	font-size: 30px;
	color: #404040;
	/*border: 2px solid #ff5c36;
	border-top: none;
	border-left: none;
	border-right: none;
	padding-bottom: 0px;*/
}

.modern-text {
	width: 600px;
	margin: 0 auto;
	text-align: left;
	padding-left: 120px;
}

.modern-btn {
	text-align: center;
	display: block;
	margin-left: 120px;
	margin-top: 35px;
	/*margin: 0 auto;*/
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	color: #333333;
	background: #ffffff;
	width: 237px;
	border-radius: 60px;
	font-size: 15px;
	transition: all 0.5s ease;
	box-shadow: 0px 5px 20px #c7c7c7;
}

.modern-btn:hover {
	color: #ffffff;
	text-decoration: none;
	background: #737373;
}

.apple-watch {
	margin-left: 100px;
}

.team {
	padding-top: 80px;
	background: #DDDDDD;
}

.team-title {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
}

.team-title span {
	color: #fc8569;
}

.team-text {
	text-align: center;
	color: #7d7d7d;
}

.team-photos {
	position: relative;
	left: -30px;
	display: flex;
	margin-top: 100px;
}


.team-photo {
	position: relative;
	top: -8px;
	height: 230px;
	width: 360px;
	margin-left: 30px;
	margin-bottom: 280px;
}

.team-png {
	box-shadow: 0px 5px 20px #c7c7c7;
	width: 360px;
	height: 360px;
}

.team-name {
	padding-top: 15px;
	font-weight: 600;
}

.team-p {
	position: relative;
	top: -8px;
	font-size: 15px;
}

.team-position {
	position: relative;
	left: 50px;
	top: -50px;
	text-align: center;
	box-shadow: 0px 5px 20px #848282;
	display: block;
	width: 260px;
	height: 75px;
	/*padding-top: 18px;*/
	background: #ffffff;
}

.center-team {
	top: -70px;

}

.center-p {
	color: #ff5c36;
}

.reviews {
	margin-top: 50px;
}

.reviews-block {
	margin-top: 130px;
	width: 1180px;
	display: flex;
}

.reviews-title {
	font-family: 'OpenSans Semibold', sans-serif;
	font-weight: 600;
}

.reviews-title span {
	color: #fd8569;
}

.reviews-intro {
	margin-bottom: 20px;
	text-align: center;
}

.review {
	margin-left: 38px;
	width: 540px;
	height: 270px;
	text-align: center;
	padding-top: 30px;
	box-shadow: 0px 5px 20px #989797;
}

.next-review {
	height: 270px;
	padding-top: 30px;
}

.review-text {
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 35px;
}

.review-username {
	font-style: italic;
}

.review-username span {
	font-style: bold;
	font-weight: 600;
}

.reviews {
	margin-top: 70px;
	margin-bottom: 70px;
}

.btn-left {
	text-align: center;
	padding-left: 8px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	border-radius: 50%;
	position: relative;
	top: 70px;
	left: -280px;
	text-decoration: none;
	color: #000000;
	border: 1px solid white;
	background: #ffffff;
	box-shadow: 0px 5px 20px #989797;
	font-weight: 600;
	font-size: 30px;
}

.btn-right {
	text-align: center;
	padding-left: 9px;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	border-radius: 50%;
	position: relative;
	top: 70px;
	left: 280px;
	text-decoration: none;
	color: #000000;
	border: 1px solid white;
	background: #ffffff;
	box-shadow: 0px 5px 20px #989797;
	font-weight: 600;
	font-size: 30px;
}

.avatar-circle {
	height: 0px;
}

.avatar {
	width: 98px;
	position: relative;
	top: -80px;
	border-radius: 50%;
	background: #ffffff;
}

.pathern {
	background: #dfdfdf;
}

.patherns {
	width: 1180px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
	padding-top: 70px;
}

.pathern-img {
	
	margin: 0 auto;
}

.pathern {
	margin-bottom: px;
}

.contacts {
	padding-bottom: 50px;
	background: #dfdfdf;
}

.contact-btn {
	display: block;
	margin: 0 auto;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	color: #333333;
	background: #ffffff;
	width: 237px;
	border-radius: 60px;
	font-size: 17px;
	box-shadow: 0px 5px 20px #c7c7c7;
	transition: all 0.5s ease;
	text-align: center;
}

.contact-btn:hover {
	color: #ffffff;
	text-decoration: none;
	background: #737373;
}

.contacts-wrapper {
	margin: 0 auto;
}

.contact {
	margin-bottom: 40px;
}


.links {
	display: flex;
	justify-content: center;
}

.facebook {
	background: #bab9b9;
	width: 50px;
	text-align: center;
	border-radius: 50%;
	padding-top: 16px;
	padding-bottom: 1px;
	padding-right: 1px;
	margin-left: 14px;
	height: 50px;
}

.facebook:hover {
	background: #ff5c36;
}


.year {
	margin-top: 15px;
	margin-left: 22px;
}

body {
  font-family: sans-serif;
  margin: 0;
}
.menu-section {
	margin: 0 auto;
  width: 420px;
  position: relative;
  top: -20px;
  left: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}
.menu-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 20px;
  transition: 1s;
}
.menu-nav {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}

body {
    background: #C1C1C3;
    margin: 0;
    padding: 0!important;
    font-size: 13px;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    color: #564B4B;
}
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}


/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img {
    width: 100px;
    height: 100px;
    border: 4px solid #E8E8E8;
    box-shadow: 0px 0px 1px 1px #929292;
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    /*font-family: 'Fontawesome';*/
    float: left;
    margin-right: 10px;
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
    	width: 960px;

    }

    .row {
    	position: relative;
    }

    .menu-section {
    	margin-right: 0px;
    	position: relative;
    	left: 22px;
    }

    .menu-block {
    	left: -25px;
    }

    .menu-btn {
    	
    }
    .kockoi-block {
    	margin-left: 95px;
    	text-align: center;
    	width: 760px;
    	justify-content: space-between;
    	box-sizing: border-box;
    	display: inline-block;
    }
    .kockoi {
    	display: inline-block;
    	margin-left: 50px;
    	margin-bottom: 50px;
    }

    .settings {
    	margin-left: 50px;
    	display: inline-block;
    	margin-left: 50px;
    }

    .photos {
    	text-align: center;
    	width: 960px;
    }

    .modern-text {
    	/*text-align: left;*/
    }

    .modern-app {
    	margin: 0 auto;
    	padding-left: 70px;
    	text-align: center;
    }

    .modern-block {
    	margin: 0 auto;
    	padding: 0;
    	display: block;
    	width: 500px;
    }

    .services {
    	width: 960px;
    	display: block;
    }

    .services-block {
    	text-align: center;
    	width: 960px;
    	display: ;
    	/*margin: 0 auto;*/
    	padding: 0;
    	justify-content: space-between;
    }
    .icons-block: {
    	margin: 0 auto;
    }

    .apple-watch {
    	width: 260px;
    }

    .team-photos {
    	text-align: center;
    	width: 960px;
    	display: block;
    }
    .team-photo {
    	display: block;
    	margin-left: 290px;
    	/*margin: 0 auto;*/
    	/*justify-content: space-between;*/
    }

    .patherns {
    	width: 960px;
    }
    .row-container {
    	left: -10px;
    	position: relative;
    	width: 960px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
    	width: 720px;
    }


    .services {
    	width: 720px;
    }

    .kockoi-block {
    	margin: 0 auto;
    	width: 95%;
    }

    .services-block {
    	width: 720px;
    	display: block;
    }

    .photos {
    	width: 420px;
    }

    .icons-block {
    	padding: 0px;
    	width: 720px;
    	height: 50px;
    	display: inline;
    }
    .icons {
    	margin-left: 0px;
    	width: 100px;
    	display: inline;
    }

    .services-titel {
    	margin: 0 auto;
    }

    .serices-text {
    	margin-bottom: 50px;
    }

    .modern-block {
    	width: 720px;
    }

    .modern-app {
    	padding: 0;
    	margin-top: 40px;
    }

    .modern-btn {
    	margin: 0 auto;
    	display: block;
    }

    .modern-text {
    	padding: 0;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 20px;
    }

    .apple-watch {
    	padding-top: 40px;
    	margin: 0 auto;
    }

    .team-photos {
    	width: 720px;
    	padding-top: ;
    	margin: 0 auto;
    	justify-content: space-between;

    }

    .team-photo {
    	margin: 0 auto;
    	position: relative;
    	display: column;
    	width: 240px;
    }

    .team {
    	height: 1170px;
    	justify-content: space-between;
    }

    .team-text {
    	margin-bottom: 35px;
    }

    .team-png {
    	width: 260px;
    	height: 260px;
    	margin-bottom: ;
    }

    .team-position {
    	z-index:99999999;
    	display: block;
    	text-align: center;
    	position: relative;
    	left: -30px;
    	width: 320px;
    }


    .second-photo {
    	margin-top: 100px;
    	position: relative;
    	/*top: 50px;*/
    } 

    .third-photo {
    	margin-top: 190px;
    }

    .contacts {
    	display: block;
    }

    .patherns {
    	justify-content: space-between;
    	display: block;
    	width: 720px;
    	padding-bottom: 0;
    }

    .pathern-img {
    	padding-bottom: 35px;
    	padding-left: 70px;
    }

}


/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
    	width: 540px;
    }

    .menu-block {
    	font-size: 15px;
    	width: ;
    	left: -10px;
    }

    .memu-btn {
    	left: 50px;
    }

    .intro {
    	width: 520px;
    	margin-bottom: 40px;
    }

    .send-message {
    	margin: 0 auto;
    }

    .working-text {
    	margin: 0 auto;
    	width: 520px;
    	padding-bottom: 30px;
    }

    .kockoi-block {
    	height: auto;
    	margin: 0 auto;
    }

    .services {
    	width: 540px;
    	margin: 0 auto;
    }

    .services-text {
    	width: 450px;
    }

    .services-block {
    	width: 540px;
    }

    .photos {
    	left: -12px;
    }

    .icons-block {
    	width: 540px;
    }

    .modern-block {
    	margin-left: 0px;
    	width: 500px;
    }

    .modern-text {
    	margin:;
    	width: 520px;
    }

    .team-photos {
    	left: -18px;
    	margin-top: 30px;
    	width: 520px;
    }

    .team {
    	height: 1250px;
    }

    .team-p {
    	mb50
    }

    .patherns {
    	margin: 0 auto;
    	width: 540px;
    }

    .year {
    	margin-top: 12px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .container {
    	width: 90%;
    }

    .smart {
    	margin-right: 0;
    }

    .menu-section {
    	width: 310px;
    	left: -20px;
    	/*float: right;*/

    }

    .menu-block {
    	left: ;
    	margin-left: ;
    }

    .menu-nav {
    	padding-left: 15px;
    	padding-right: 5px;
    	font-size: 10px;
    }

    .intro {
    	width: 90%
    }

    .send-message {
    	width: 240px;
    }

    .login {
    	font-size: 20px;
    }

    .form {
    	font-size: 15px;
    }

    .input {
    	width: 180px;
    }

    .btn-login {
    	font-size: 16px;
    	width: 190px;
    	height: 41px;
    	padding-bottom: 40px;
    }

    .working-text {
    	width: 90%;
    }

    .kockoi {
    	position: relative;
    	left: -10px;
    }

    .photos {
    	left: -6px;
    	width: 90%;
    }

    .photo {
    	/*left: 20px;*/
    	width: 90%;
    }

    .img {
    	width: 90%;
    	
    }

    .services-title {
    	/*width: 90%;*/
    }

    .services {
    	width: 90%;
    }

    .services-block {
    	margin: 0 auto;
    	width: 90%;
    }

    .modern-block {
    	width: 90%;
    }

    .modern-app {
    	width: 90%;
    }

    .modern-text {
    	margin-top: 30px;
    	width: 90%;
    }

    .modern-btn {
    	width: 100%;
    }

    .apple-watch {
    	position: relative;
    	left: -20px;
    }

    .team {
    	height: 1240px;
    }

    .team-photos {
    	left: -10px;
    	width: 90%;
    }

    .team-position {
    	position: relative;
    	left: 35px;
    	width: 80%;
    }

    .team-name {
    	font-size: 22px;
    }

    .patherns {
    	padding-left: 50px;
    	margin: 0 auto;
    	/*align-items: center;*/
    	width: 100%;
    }

    .pathern-img {
    	float: inherit;
    	padding-left: 20px;
    	padding-bottom: ;
    }

    .links {
    	display: inline;
    	align-items: center;
    	text-align: center;
    	justify-content: space-around;
    	height: 50px;
    	width: 90%
    	height: 100%;
    	flex-direction: 
    	margin: 0 auto;
    }

    .facebook {
    	position: relative;
    	margin: 0 auto;
    	width: 50px;
    }

    .twitter {
    	margin-top: 10px;
    }

    .ball {
    	margin-top: 10px;
    }

    .be {
    	margin-top: 10px;
    }

    .contact-btn {
    	width: 80%;
    }

    .year {
    	margin-top: 40px;
    }

    .kockoi-block {
    	position: relative;
    	left: -10px;
    }
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

